:root {
    /* Base colors */
    --background: #3f0a13;
    --component: #FC617B;
    --links: #ff6d85;
    --foreground: white;
    --brand-color: #ff6d85;
    --light-gradient: linear-gradient(180deg, #ff5d78 0%, #ec3a58 100%);
    --reg-gradient: linear-gradient(180deg, #FC617B 0%, #8E1428 100%);
    --dark-gradient: linear-gradient(180deg, #8E1428 0%, #701121 100%);

    /* Brand colors */
    --youtube: #FF0000;
    --instagram: #d300c5;
    --tiktok: #ff0050;
    --x-twitter: #636363;
    --bluesky: #1185fe;
    --discord: #5865F2;
    --twitch: #6441a5;
}

html {
    background-color: #3f0a13;
    background-image: linear-gradient(135deg, #4c0c17 25%, transparent 25%), linear-gradient(225deg, #4c0c17 25%, transparent 25%), linear-gradient(45deg, #4c0c17 25%, transparent 25%), linear-gradient(315deg, #4c0c17 25%, #3f0a13 25%);
    background-position:  13px 0, 13px 0, 0 0, 0 0;
    background-size: 26px 26px;
    background-repeat: repeat;
}

body {
    margin: 0;
    color: var(--foreground);
    font-size: 1.25rem;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media (width <= 40rem) {
    body {
        font-size: 1rem;
    }
}

.gradient-dark {
    background: var(--dark-gradient);
}

.gradient-regular {
    background: var(--reg-gradient);
}

.gradient-regular-important {
    background: var(--reg-gradient) !important;
}

.gradient-light {
    background: var(--light-gradient);
}

a:not(:has(> button, .article)) {
    color: var(--links);   
    transition: all 200ms ease;
}

a:has(.article) {
    transition: all 200ms ease;
}

a:not(:has(> button)):hover {
    filter: brightness(130%);
}

.nav a {
    font-weight: bold;
    transition: all 200ms ease;
    color: #fafafa;
}

.nav a:hover {
    color: var(--brand-color);
}

.nav hr {
    border: 1px solid #ff6d85;
}

hr {
    border: 1px solid #ff6d85;
    width: 40px;
}

.grad-title {
    background-image: var(--light-gradient);
    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;
    line-height: 1.2;
}

.card {
    background-color: var(--background);
    border: 3px solid #ff6d85;
    border-radius: 1rem;
    width: 100%;
    display: flex;
}

button {
    border: 3px solid #ff6d85;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    transition: all 200ms ease;
    font-weight: bold;
    color: #ff6d85;
}

button {
    border: 3px solid #ff6d85;
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
    transition: all 200ms ease;
    font-weight: bold;
    color: #ff6d85;
}

button:hover {
    background: #ff6d85;
    color: white;
}

.brand-color {
    color: #ff6d85;
}

img {
    border-radius: 1rem;
}

.inner-card {
    background: #8E1428;
    border-radius: 1rem;
    width: 100%;
    display: flex;
}

.article-content {
	text-align: left;
    line-height: 1.5;
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
    font-weight: bold;

    background-image: var(--light-gradient);
    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;

    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.article-content h1 {
	font-size: 1.75rem;
}

.article-content h2 {
	font-size: 1.5rem;
}

.article-content h3 {
	font-size: 1.35rem;
}

.article-content button {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}